# Ignore Python virtual environment
venv/
.venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore model artifacts
*.joblib
*.pkl

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore secret tokens and credentials
secrets/

# Ignore zip
*.zip
*.gz
*.whl
datasets/
/datasets
/.coverage.Aimans-MacBook-Pro.local.6184.XlGGyDqx
/metrics/feature_costs.json
