-r requirements.txt

# Dev tools
pylint
black
flake8
pre-commit
mypy
ipython
pytest
pytest-cov
pandas
numpy
scikit-learn
radon
memory_profiler
flake8
flake8-bugbear
flake8-docstrings
flake8-comprehensions
flake8-eradicate
pep8-naming
flake8-import-order
bandit
